#abc {
    margin: auto;
    width: 400px;
    height: 400px;
    text-align: center;
    vertical-align: middle;
    background-color: green;
    border: 25px solid black;
    outline: solid blue 25px;
 }

div {
    color: white;
    font-size: 150%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}